*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    padding: 20px 20px;
}
body{
    display:flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color:white;
    
}
input{
    border: 2px solid black;
    border-radius:6px;
    padding: 5px;
}
.paises img{
    width: 150px;
}